.home {
  opacity: 1;
  background-color: rgb(249 250 251);
  height: 100vh;
  
  &__container {
    width: 100%;
    opacity: 1;
    background-color: rgb(222 237 251);
  }

  &__wrap {
    margin-left: auto;
    margin-right: auto;
    max-width: 64rem;
    padding-top: 3.5rem;

    @media (min-width: 64rem) {
      display: flex;
    }
  }

  &__left {
    @media (min-width: 64rem) {
      min-width: 28.125rem;
      padding-top: 5rem
    }

    &-title {
      padding-top: 4rem;
      text-align: center;
      font-size: 1.875rem;
      line-height: 2.25rem;

      @media (min-width: 64rem) {
        text-align: left;
        font-size: 2.25rem;
        line-height: 2.5rem;
      }
    }

    &-desc {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      text-align: center;
      font-size: .875rem;
      line-height: 1.25rem;
      font-weight: 500;
      opacity: 1;
      color: rgb(75 85 99);

      @media (min-width: 64rem) {
        text-align: left;
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }
  }

  &__btn-wrap {
    display: flex;
    justify-content: center;

    @media (min-width: 64rem) {
      justify-content: flex-start;
    }
  }

  &__btn {
    display: inline-flex;
    align-items: center;
    border-radius: 0.75rem;
    border-width: .0625rem;
    border-color: transparent;
    opacity: 1;
    background-color: rgb(46 120 245);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    color: rgb(255 255 255);
    box-shadow: 0 .0625rem .125rem 0 rgba(0,0,0,.05);
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;

    &:hover {
      background-color: rgb(123, 166, 241);
    }
  }

  &__right {
    position: relative;

    &-container {
      display: flex;
      justify-content: center;
    }

    &-wrap {
      height: 19.9375rem;
      width: 24.375rem;

      @media (min-width: 64rem) {
        height: 37.5625rem;
        width: 46.875rem;
      }
    }

    &--img {
      position: absolute;
      inset: 0rem;
      box-sizing: border-box;
      padding: 0rem;
      border: none;
      margin: auto;
      display: block;
      width: 0rem;
      height: 0rem;
      min-width: 100%;
      max-width: 100%;
      min-height: 100%;
      max-height: 100%;
    }

    &-img {
      position: absolute;
      bottom: 0;
      left: 50%;
      height: 13.5rem;
      width: 14.875rem;
      transform: translate(-50%, 0) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);

      @media (min-width: 64rem) {
        height: 25.25rem;
        width: 27.75rem;
      }
    }
  }

}